
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    haozi zhang && 123456 
</p>
<form asp-controller="LoginOrSignOut" asp-action="Login">
    <input type="text" name="userName" />
    <input type="text" name="Password"/>
    <button type="submit">Login Submit</button>
</form>